:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#282828;
    --primary-color:
    #2c6103;
    --border-color:#dbdbdb;
    --soft-color:#fdede9;
    --star-gold:#FFCE3E;
    --navbar-height:45px;
    --header-height:170px; 
    --tape-color-1:rgba(185, 172, 222, 0.73);
    --tape-color-2:rgba(178, 216, 221, 0.87);
}
.white-color{
    color: #fff !important;
}
.ccc-color{
    color: #ccc !important;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
ul{
    padding-left: 0;
    margin: 0;
}
li{
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Segoe UI' , sans-serif;
}
.app{
    overflow: hidden;
}